@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #353535;
  color: #d9d9d9;
  font-family: "Padauk", sans-serif;
}

.customerInfoContainer {
  max-width: 500px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.customerInput {
  width: 300px;
}

.lbl {
  color: #ff6700;
}

#btnSubmit:hover {
  background-color: #2b2d42;
}

.card {
  width: 300px;
  background-color: #3c6e71;
  color: #ffffff;
}

.bookID {
  color: #ff9f1c;
}
