@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #353535;
    color: #D9D9D9;
    font-family: 'Padauk', sans-serif;
}

.customerInfoContainer {
    width: 40%;
    background-color: #D9D9D9;
    border-radius: 5px;
}

.customerInput {
    width: 350px;
}

.lbl {
    color: #ff6700;
}

#btnSubmit:hover {
    background-color: #2b2d42;
}

.card {
    width: 300px;
    background-color: #3C6E71;
    color: #FFFFFF;
}

.bookID {
    color: #ff9f1c;
}