* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #011627;
    color: #fdfffc;
}

header {
    padding: 25px 0;
    text-align: center;
}

.bookMenuContainer {
    width: 700px;
    height: 450px;
    background-color: #FDFFFC;
    padding: 25px;
    border-radius: 10px;
    color: #000;
    margin: 0 auto;
}

.customerInput {
    width: 350px;
    outline: none;
    display: inline-block;
    border: 1px solid #2e2e2e;
    margin: 5px 15px;
}
